/*-----------------------------------------------------------------------*/
/*TOTAL*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*BODY*/
/*-----------------------------------------------------------------------*/
body{
  background-image: url("Images/background-Mobile.jpg");
  background-attachment: fixed;
  /*background-color: #00BFFF;*/
}
/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*HEADER => MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*RECHERCHE*/
/*-----------------------------------------------------------------------*/
#divRech{
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
/*-----------------------------------------------------------------------*/
/*GENERALE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*SEMAINE*/
/*-----------------------------------------------------------------------*/
#divSem{
  top: 28%; bottom: 7.5%; left: 5%; right: 5%;
}

#imgTermo{
  background-image: url("Images/thermometer.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}

#imgWind{
  background-image: url("Images/wind.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}

#imgSun{
  background-image: url("Images/sun.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------*/
/*JOURNEE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FAVORIS*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*CONNEXION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*INSCRIPTION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------------------*/
footer{
  font-size: 0.7em;
  padding: 1.5%;
}
