/*-----------------------------------------------------------------------*/
/*GENERIQUE*/
/*-----------------------------------------------------------------------*/
*{
  box-sizing: border-box;
  font-family: cursive;
  font-weight: bolder;
  color: white;
}

html{
  height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("Images/background-Mobile.jpg");
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

#main{
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  width: 100%;
  height: 90%;
}

footer{
  width: 100%;
  background-color: rgba(0,0,0,1);
  color: white;
  font-size: 0.7em;
  padding: 1.5%;
}

footer a{
  text-decoration: none;
  color: white;
}

.boxStyle{
  background-color: rgba(0,0,0,.37);
  border-radius: 20px;
  padding: 0.5em;
}

/*-----------------------------------------------------------------------*/
/*HEADER*/
/*-----------------------------------------------------------------------*/
#divHeader{
    height: auto;
}

#divMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#navLog{
  display: flex;
  align-items: center;
}

/*-----------------------------------------------------------------------*/
/*RECHERCHE*/
/*-----------------------------------------------------------------------*/
#divRech{
  height: auto;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

#divRech div{
  display: flex;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

#znSearch{
  border-radius: 4px 0px 0px 4px;
  width: 100%;
}

#btnSearch{
    border-radius: 0px 4px 4px 0px;
    background-image: url("Images/loupe.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 3em;
}
.boxText{
  height: 2.5em;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  color: #111111;
}

.boxText::placeholder{
  color: #111111;
  padding-left: 0.4em;
  font-size: 1.2em;
}

/*-----------------------------------------------------------------------*/
/*CONTENU*/
/*-----------------------------------------------------------------------*/
#divProduit {
  display: flex;
  flex-direction: column;
}
#divSemaine {
  display: flex;
  flex-direction: column;
}

#divSemaine header {
  margin: 1%;
}

#divInfos {
  overflow-y: auto;
}
/*-----------------------------------------------------------------------*/
/*SEMAINE*/
/*-----------------------------------------------------------------------*/

.boxJour{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.boxInfoJour{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2.5%;
}

.boxInfoJour div{
  width: auto;
}

.boxIcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boxWeather{
  display: flex;
  align-items: center;
}

#imgTermo{
  background-image: url("Images/thermometer.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}

#imgWind{
  background-image: url("Images/wind.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}

#imgSun{
  background-image: url("Images/sun.png");
  min-width: 2em;
  height: 32px;
  background-repeat: no-repeat;
}
