*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header{
  background-color: blue;
}

div{
  background-color: white;
  overflow-y: scroll;
}

footer{
  background-color: red;
}
