/*-----------------------------------------------------------------------*/
/*TOTAL*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*CLASSES*/
/*-----------------------------------------------------------------------*/
.boxText::placeholder{
  font-size: 1.2em;
}

/*-----------------------------------------------------------------------*/
/*BODY*/
/*-----------------------------------------------------------------------*/
body{
  background-image: url("../Images/background-Mobile.jpg");
}
/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*HEADER => MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*RECHERCHE*/
/*-----------------------------------------------------------------------*/
#divRech{
  padding-left: 1em;
  padding-right: 1em;
}


#divRech input[type="text"]{
  width: 100%;
}

/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/
#main h3{
  font-size: 1.5em;
}

/*-----------------------------------------------------------------------*/
/*SEMAINE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*JOURNEE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FAVORIS*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*CONNEXION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*INSCRIPTION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------------------*/
footer{
  font-size: 0.7em;
  padding: 1.5%;
}
