*{
	box-sizing: border-box;
	font-family: cursive;
	font-weight: bolder;
	color: #ffffff;
}

#imgSun1 {
	min-width: 2em;
	height: 32px;
	background-repeat: no-repeat;
}

#divLog {
	position: absolute;
	background-color: white;
	top: 97px;
	right: 0;
	border: 4px solid silver;
	border-radius: 20px;
	display: none;
}

#divLogContent {
	display: flex;
	flex-direction: column;
}

#divLogContent label {
	color: black;
	font-size: 18px;
}

option{
  color: black;
}

#divLog{
	position: absolute;
	background-color: white;
	top: 97px;
	right: 0;
	border: 4px solid silver;
	border-radius: 20px;
}

#divLogContent{
  display: flex;
  flex-direction: column;
}

#divLogContent label{
    color: black;
    font-size: 18px;
}

/*-----------------------------------------------------------------------*/
/*CLASSES*/
/*-----------------------------------------------------------------------*/
.boxStyle {
	background-color: rgba(0, 0, 0, .37);
	border-radius: 20px;
	padding: 0.5em;
}

.boxStyleDetail {
	margin-bottom: 2%;
}

.boxLog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 20px;
}

.boxLog input{
  padding-left: 30px;
}

.boxText {
	height: 2.5em;
	background-color: #ffffff;
	border-radius: 4px;
	border: none;
	color: #111111;
	padding-left: 2%;
}

.boxText::placeholder {
	color: #111111;
	padding-left: 0.4em;
}

.butCoIns {
	margin-top: 2em;
	height: 6.5em;
	width: 7em;
	background: rgba(0, 0, 0, 0);
}

.boxIcon {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2.5%;
}

.boxIconUnique {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.imgTermo {
	background-image: url("../Images/thermometer.png");
	min-width: 2em;
	height: 32px;
	background-repeat: no-repeat;
}

.imgWind {
	background-image: url("../Images/wind.png");
	min-width: 2em;
	height: 32px;
	background-repeat: no-repeat;
}

.imgWater {
	background-image: url("../Images/drop.png");
	min-width: 2em;
	height: 32px;
	background-repeat: no-repeat;
}

.imgSun {
	background-image: url("../Images/sun.png");
	min-width: 2em;
	height: 32px;
	background-repeat: no-repeat;
}

.unsetvalue {
	border-left: 10px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-radius: 4px;
}

.badvalue {
	border-left: 10px solid #B70C06;
	border-right: 1px solid #B70C06;
	border-top: 1px solid #B70C06;
	border-bottom: 1px solid #B70C06;
	border-radius: 4px;
	animation-name: badvalue-animation;
	animation-duration: 0.3s;
	animation-iteration-count: 4;
	animation-direction: alternate;
}

@keyframes badvalue-animation {
	from {border-left: 10px solid #B70C06;}
	to {border-left: 20px solid #ff0000;}
}

.goodvalue {
	border-left: 10px solid #16B731;
	border-right: 1px solid #16B731;
	border-top: 1px solid #16B731;
	border-bottom: 1px solid #16B731;
	border-radius: 4px;
	animation-name: goodvalue-animation;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes goodvalue-animation {
	from {border-left: 10px solid #16B731;}
	to {border-left: 20px solid #00ff00;}
}

/*-----------------------------------------------------------------------*/
/*BODY*/
/*-----------------------------------------------------------------------*/
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	overflow: hidden;
	background-image: url("../Images/background-first.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

/*-----------------------------------------------------------------------*/
/*ENTETE*/
/*-----------------------------------------------------------------------*/
#enTete {
	padding: 0.8em;
	width: 100%;
}

#enTete header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#enTete header nav {
	display: flex;
}
/*-----------------------------------------------------------------------*/
/*RECHERCHE*/
/*-----------------------------------------------------------------------*/
#divRech{
	display: flex;
	flex-direction: column;
}

#divRech input[type="text"]{
  border-radius: 4px 0px 0px 0px;
}

#divRech input[type="submit"]{
  border-radius: 0px 4px 0px 0px;
  background-image: url("../Images/loupe.png");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 3em;
}

#contentRechCity{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3%;
}

#contentResultCity{
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
	color: black;
}

#contentResultCity div{
	display: flex;
	align-items: center;
	height: 40px;
	color: black;
}

#{
	background-color: red;
}
/*---------------s--------------------------------------------------------*/
/*TITRE*/
/*-----------------------------------------------------------------------*/
#divTitre{
  text-align: center;
  padding-top: 1.5%;
	display: none;
}

/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/
#main {
	display: flex;
    flex-direction: column;
    width: 100%;
	padding: 0.8em;
	padding-top: 0;
	padding-bottom: 0;
	margin:1px;
}

/*-----------------------------------------------------------------------*/
/*SEMAINE*/
/*-----------------------------------------------------------------------*/
#divSem{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
	display: none;
}

#divSem::-webkit-scrollbar {
	display: none;
}

#divSem header {
	margin: 1%;
}

/*-----------------------------------------------------------------------*/
/*JOURNEE*/
/*-----------------------------------------------------------------------*/
#divHeure{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
	display: none;

}

#divHeure::-webkit-scrollbar{
  display: none;
}

/*-----------------------------------------------------------------------*/
/*FAVORIS*/
/*-----------------------------------------------------------------------*/
#divFav {
	display:flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	display: none;
}

#divFav::-webkit-scrollbar {
	display: none;
}

#divFav header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*-----------------------------------------------------------------------*/
/*CONNEXION*/
/*-----------------------------------------------------------------------*/
#divConnex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  /*height: 100%;*/
	display: none;
}

#divConnex::-webkit-scrollbar{
  display: none;
}

#divLabel{
	margin-bottom: 0.5em;
}

#divConnex input {
	margin-bottom: 2em;
}

/*-----------------------------------------------------------------------*/
/*INSCRIPTION*/
/*-----------------------------------------------------------------------*/
#divInscri{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
	display: none;
}

#divInscri::-webkit-scrollbar{
  display: none;
}

#divInscri form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divInscri input{
  margin-bottom: 1em;
}

#divInscri input::placeholder{
  font-size: 0.8em;
}
/*-----------------------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------------------*/
footer {
	background-color: rgba(0, 0, 0, 1);
	color: #ffffff;
	width: 100%;
}

footer a {
	text-decoration: none;
}
