/*-----------------------------------------------------------------------*/
/*TOTAL*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*CLASSES*/
/*-----------------------------------------------------------------------*/
.boxText::placeholder{
  font-size: 1.2em;
}

/*-----------------------------------------------------------------------*/
/*BODY*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*HEADER => MAIN*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*RECHERCHE*/
/*-----------------------------------------------------------------------*/
#divRechTitre{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
}

#divRech{
  padding-left: 1em;
  padding-right: 1em;
}

#divRech input[type="text"]{
  width: 100%;
}

/*-----------------------------------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------------------------------*/
#main h3{
  font-size: 1.5em;
}

/*-----------------------------------------------------------------------*/
/*SEMAINE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*JOURNEE*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FAVORIS*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*CONNEXION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*INSCRIPTION*/
/*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------------------*/
footer{
  font-size: 0.7em;
  padding: 1.5%;
}
